@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #000;
}

::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border-radius: 4px;
  border: 1px solid #000;
}

::-webkit-scrollbar-corner {
  background-color: #000;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: block;
  background-color: #000;
  color: #16a34a;
}